<component name="libraryTable">
  <library name="mybatis-3.2.8">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../../../../../../jar/mybatis-3.2.8.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../../../../../jar/mysql-connector-java-8.0.21.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>